<a href="https://colab.research.google.com/github/sergiomarchena16/lab_02_spam/blob/main/lab2_SPAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboraotrio 2 - Deteccion de SPAM (NLP)

In [ ]:
import pandas as pd

In [ ]:
dataset1 = pd.read_csv('/content/drive/MyDrive/UVG /2022/SECURITY DATA SCIENCE/Lab02_SPAM/completeSpamAssassin.csv')
dataset2 = pd.read_csv('/content/drive/MyDrive/UVG /2022/SECURITY DATA SCIENCE/Lab02_SPAM/enronSpamSubset.csv')

In [ ]:
dataset1

      Unnamed: 0                                               Body  Label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[6046 rows x 3 columns]

In [ ]:
dataset2

      Unnamed: 0  ...  Label
0           2469  ...      1
1           5063  ...      1
2          12564  ...      1
3           2796  ...      1
4           1468  ...      1
...          ...  ...    ...
9995       26222  ...      0
9996       18630  ...      0
9997       18451  ...      0
9998       21955  ...      0
9999       32062  ...      0

[10000 rows x 4 columns]

In [ ]:
dataset2[['Unnamed: 0', 'Unnamed: 0.1']]

      Unnamed: 0  Unnamed: 0.1
0           2469          2469
1           5063          5063
2          12564         12564
3           2796          2796
4           1468          1468
...          ...           ...
9995       26222         26222
9996       18630         18630
9997       18451         18451
9998       21955         21955
9999       32062         32062

[10000 rows x 2 columns]

In [ ]:
dataset2['Unnamed: 0'].describe(), dataset2['Unnamed: 0.1'].describe()

(count    10000.000000
 mean     17041.404600
 std       9735.989695
 min          8.000000
 25%       8562.000000
 50%      17159.000000
 75%      25509.250000
 max      33698.000000
 Name: Unnamed: 0, dtype: float64, count    10000.000000
 mean     17041.404600
 std       9735.989695
 min          8.000000
 25%       8562.000000
 50%      17159.000000
 75%      25509.250000
 max      33698.000000
 Name: Unnamed: 0.1, dtype: float64)

In [ ]:
dataset2 = dataset2.drop('Unnamed: 0.1', axis=1)

In [ ]:
frames = [dataset1, dataset2]
df = pd.concat(frames)
df

      Unnamed: 0                                               Body  Label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
9995       26222  Subject: monday 22 nd oct\n louise ,\n do you ...      0
9996       18630  Subject: missing bloomberg deals\n stephanie -...      0
9997       18451  Subject: eops salary survey questionnaire\n we...      0
9998       21955  Subject: q 3 comparison\n hi louise ,\n i have...      0
9999       32062  Subject: confidential folder to safely pass in...      0

[16046 rows x 3 columns]

In [ ]:
df.rename(columns={'Unnamed: 0': 'No'}, inplace=True)
df.rename(columns={'Label': 'SPAM_Label'}, inplace=True)
df

         No                                               Body  SPAM_Label
0         0  \nSave up to 70% on Life Insurance.\nWhy Spend...           1
1         1  1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
2         2  1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
3         3  ##############################################...           1
4         4  I thought you might like these:\n1) Slim Down ...           1
...     ...                                                ...         ...
9995  26222  Subject: monday 22 nd oct\n louise ,\n do you ...           0
9996  18630  Subject: missing bloomberg deals\n stephanie -...           0
9997  18451  Subject: eops salary survey questionnaire\n we...           0
9998  21955  Subject: q 3 comparison\n hi louise ,\n i have...           0
9999  32062  Subject: confidential folder to safely pass in...           0

[16046 rows x 3 columns]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

         No                                               Body  SPAM_Label
0         0  \nSave up to 70% on Life Insurance.\nWhy Spend...           1
1         1  1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
2         2  1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
3         3  ##############################################...           1
4         4  I thought you might like these:\n1) Slim Down ...           1
...     ...                                                ...         ...
9995  26222  Subject: monday 22 nd oct\n louise ,\n do you ...           0
9996  18630  Subject: missing bloomberg deals\n stephanie -...           0
9997  18451  Subject: eops salary survey questionnaire\n we...           0
9998  21955  Subject: q 3 comparison\n hi louise ,\n i have...           0
9999  32062  Subject: confidential folder to safely pass in...           0

[16046 rows x 3 columns]

In [ ]:
df.drop('index',axis=1, inplace=True)
df.drop('No',axis=1, inplace=True)

In [ ]:
df

                                                    Body  SPAM_Label
0      \nSave up to 70% on Life Insurance.\nWhy Spend...           1
1      1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
2      1) Fight The Risk of Cancer!\nhttp://www.adcli...           1
3      ##############################################...           1
4      I thought you might like these:\n1) Slim Down ...           1
...                                                  ...         ...
16041  Subject: monday 22 nd oct\n louise ,\n do you ...           0
16042  Subject: missing bloomberg deals\n stephanie -...           0
16043  Subject: eops salary survey questionnaire\n we...           0
16044  Subject: q 3 comparison\n hi louise ,\n i have...           0
16045  Subject: confidential folder to safely pass in...           0

[16046 rows x 2 columns]

## Preprocesamiento

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
# lowercase all body sentences
df['Body'] = df['Body'].str.lower()
df

                                                    Body  SPAM_Label
0      \nsave up to 70% on life insurance.\nwhy spend...           1
1      1) fight the risk of cancer!\nhttp://www.adcli...           1
2      1) fight the risk of cancer!\nhttp://www.adcli...           1
3      ##############################################...           1
4      i thought you might like these:\n1) slim down ...           1
...                                                  ...         ...
16041  subject: monday 22 nd oct\n louise ,\n do you ...           0
16042  subject: missing bloomberg deals\n stephanie -...           0
16043  subject: eops salary survey questionnaire\n we...           0
16044  subject: q 3 comparison\n hi louise ,\n i have...           0
16045  subject: confidential folder to safely pass in...           0

[16046 rows x 2 columns]

In [ ]:
df['Body'] = df['Body'].astype('str')
df

                                                    Body  SPAM_Label
0      \nsave up to 70% on life insurance.\nwhy spend...           1
1      1) fight the risk of cancer!\nhttp://www.adcli...           1
2      1) fight the risk of cancer!\nhttp://www.adcli...           1
3      ##############################################...           1
4      i thought you might like these:\n1) slim down ...           1
...                                                  ...         ...
16041  subject: monday 22 nd oct\n louise ,\n do you ...           0
16042  subject: missing bloomberg deals\n stephanie -...           0
16043  subject: eops salary survey questionnaire\n we...           0
16044  subject: q 3 comparison\n hi louise ,\n i have...           0
16045  subject: confidential folder to safely pass in...           0

[16046 rows x 2 columns]

In [ ]:
df['Body'].describe

<bound method NDFrame.describe of 0        \nsave up to 70% on life insurance.\nwhy spend...
1        1) fight the risk of cancer!\nhttp://www.adcli...
2        1) fight the risk of cancer!\nhttp://www.adcli...
3        ##############################################...
4        i thought you might like these:\n1) slim down ...
                               ...
16041    subject: monday 22 nd oct\n louise ,\n do you ...
16042    subject: missing bloomberg deals\n stephanie -...
16043    subject: eops salary survey questionnaire\n we...
16044    subject: q 3 comparison\n hi louise ,\n i have...
16045    subject: confidential folder to safely pass in...
Name: Body, Length: 16046, dtype: object>

In [ ]:
df['Body'] = df['Body'].apply(nltk.word_tokenize)
df

In [ ]:
df

                                                    Body  SPAM_Label
0      [save, up, to, 70, %, on, life, insurance, ., ...           1
1      [1, ), fight, the, risk, of, cancer, !, http, ...           1
2      [1, ), fight, the, risk, of, cancer, !, http, ...           1
3      [#, #, #, #, #, #, #, #, #, #, #, #, #, #, #, ...           1
4      [i, thought, you, might, like, these, :, 1, ),...           1
...                                                  ...         ...
16041  [subject, :, monday, 22, nd, oct, louise, ,, d...           0
16042  [subject, :, missing, bloomberg, deals, stepha...           0
16043  [subject, :, eops, salary, survey, questionnai...           0
16044  [subject, :, q, 3, comparison, hi, louise, ,, ...           0
16045  [subject, :, confidential, folder, to, safely,...           0

[16046 rows x 2 columns]

In [ ]:
import re
def removerCaracteresEspecialesNumerosSimbolos(texto, removerDigitos =False):
    patron = r'[^a-zA-Z0-9\s]' if not removerDigitos else r'[^a-zA-Z\s]'
    texto = re.sub(patron,'', texto)
    return texto

In [ ]:
df_test = df
df_test['Body'] = df_test['Body'].astype('str')
df_test['Body'] = df_test['Body'].apply(removerCaracteresEspecialesNumerosSimbolos)

In [ ]:
df

                                                    Body  SPAM_Label
0      save up to 70  on life insurance  why spend mo...           1
1      1  fight the risk of cancer  http  wwwadclickw...           1
2      1  fight the risk of cancer  http  wwwadclickw...           1
3                                                    ...           1
4      i thought you might like these  1  slim down  ...           1
...                                                  ...         ...
16041  subject  monday 22 nd oct louise  do you have ...           0
16042  subject  missing bloomberg deals stephanie  i ...           0
16043  subject  eops salary survey questionnaire we w...           0
16044  subject  q 3 comparison hi louise  i have a co...           0
16045  subject  confidential folder to safely pass in...           0

[16046 rows x 2 columns]